[Unit]
Description= Fixes undesired changes to [%p:%i] pool
Documentation= man:systemd.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'sed -i e "/catch_workers_output/d; /pm.max_children = 5/s/.*/pm.max_children = 10\npm.max_requests = 50/;" /opt/plesk/%P/php-fpm.d/%i.conf'
